* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #09171d;
    color: #c6c9ca;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

main {
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
}

h1 {
    margin-bottom: 1rem;
}

a {
    color: #ffffff;
}

form {
    margin-bottom: 1rem;
}

button {
    padding: .1rem .25rem;
}

.sendNameSection {
    margin-top: 1rem;
}

.sendNameSection button {
    margin: 1rem;
    width: 8rem;
}